header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7rem;

    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6rem;

        li{
            color: $white;
            text-align: center;
            font-family: JetBrains Mono, 'sans-serif';
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 500;
            line-height: 2.8rem; /* 200% */
        }
    }
}